<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SLIIT.Core.Properties.Settings.SLIIT_ITPConnectionString" connectionString="Data Source=DESKTOP-S9O4BSG;Initial Catalog=SLIIT.ITP;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="SLIIT.Core.Properties.Settings.SLIIT_ITPConnectionString1" connectionString="Data Source=ISURU-NB-IT\DEV;Initial Catalog=SLIIT.ITP;User ID=sliit;Password=sliit" providerName="System.Data.SqlClient"/>
        <add name="SLIIT.Core.Properties.Settings.SLIIT_ITPConnectionString2" connectionString="Data Source=DESKTOP-RL5S95E;Initial Catalog=SLIIT.ITP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
